---
---

$section-headings-color: #007bff;
$body-text-color: #3b464b;
$body-link-color: #007bff;
$blockquote-text-color: #819198;

@import "{{ site.theme }}";

.page-header {
  background: none !important;
  background: #007bff;
  background-image: linear-gradient(120deg, #155799, #007bff);
  position: relative;
  overflow: hidden;
}

.page-header:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: #007bff;
  background-image: linear-gradient(120deg, #155799, #007bff);
  transform: rotate(5deg);
}

.main-content code {
  word-break: keep-all;
}
