---
---

$section-headings-color: #007bff;
$body-text-color: #3b464b;
$body-link-color: #007bff;
$blockquote-text-color: #819198;

@import "{{ site.theme }}";

.page-header {
  background: #91a3a8;
  background-image: linear-gradient(120deg, #63757a, #91a3a8);

  img {
    max-height: 300px;
    margin-bottom: 20px;
  }
}

.main-content code {
  word-break: keep-all;
}
