---
---

@import "{{ site.theme }}";

$section-headings-color: #155799 !default;
$body-text-color: #3b464b !default;
$body-link-color: #007bff !default;
$blockquote-text-color: #819198 !default;

.page-header {
  background: #007bff;
  background-image: linear-gradient(120deg, #155799, #007bff)
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $section-headings-color;
}
